# Secrets MGA (dev) — copie en secrets.env et renseigne. (secrets.env gitignoré)
vault_github_token="ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
vault_mga_db_user="innodev"
vault_mga_db_password="CHANGE_ME"
vault_mga_db_root_password="CHANGE_ME"
vault_mga_lagon_db_user="innodev"
vault_mga_lagon_db_password="CHANGE_ME"
vault_mga_rollbar_token="1111NOTOKEN111111111111111111111"
vault_mga_paybox_site="CHANGE_ME"
vault_mga_paybox_id="CHANGE_ME"
vault_mga_paybox_binkey="CHANGE_ME"
vault_mga_aaa_siret="CHANGE_ME"
vault_mga_aaa_name="CHANGE_ME"
vault_mga_aaa_password="CHANGE_ME"
vault_mga_recaptcha_publickey="CHANGE_ME"
vault_mga_recaptcha_privatekey="CHANGE_ME"
vault_mga_phpmailer_user="CHANGE_ME"
vault_mga_phpmailer_password="CHANGE_ME"
