# Secrets mga-vitrine (dev) — copie en secrets.env et renseigne. (secrets.env gitignoré)
vault_github_token="ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
vault_mga_vitrine_db_user="innodev"
vault_mga_vitrine_db_password="CHANGE_ME"
vault_mga_vitrine_recaptcha_key="CHANGE_ME"
vault_mga_vitrine_recaptcha_secret="CHANGE_ME"
vault_mga_vitrine_shortpixel_api=""
vault_mga_vitrine_rollbar_token=""
vault_mga_vitrine_github_api_token=""
vault_mga_vitrine_mail_user="CHANGE_ME"
vault_mga_vitrine_mail_password="CHANGE_ME"
