# Secrets Lagon7 (dev) — copie en secrets.env et renseigne. (secrets.env gitignoré)
vault_github_token="ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
vault_lagon7_db_user="innodev"
vault_lagon7_db_password="CHANGE_ME"
vault_lagon7_db_root_password="CHANGE_ME"
vault_lagon7_recaptcha_publickey="CHANGE_ME"
vault_lagon7_recaptcha_privatekey="CHANGE_ME"
vault_lagon7_rollbar_token="CHANGE_ME"
